{% extends 'layouts/master.njk' %}

<!--  -->

{% block content %}
<div class="">
  {{ testing }}
  <div class="testing">If I am big, your main.css loaded correctly.</div>
  <div class="container">If I am offset to the right, Bootstrap CSS loaded correctly.</div>
  <div id="jquery">jQuery did not load.</div>
  <br><br>
  <div class="welcome">Welcome home!</div>
</div>
{% endblock %}
