<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Title</title>

  <link rel="stylesheet" href="public/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/main.css">
</head>

<body>
  {% block content %}{% endblock %}
  <script src="public/js/jquery.min.js"></script>
  <script src="public/js/main.js"></script>
</body>

</html>
